body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(42, 42, 42);
}

.main-header {
    width: calc(100% - 3rem);
    height: 3.5rem;
    padding: 0 1.5rem;
    background-color:rgb(27, 27, 27);
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: rgb(196, 151, 27);
}

main {
    color: white;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.add-product__product-info {
    border: none;
    padding: 0;
    width: 23%;
}
.add-product__product-info label {
    width: 100%;
    height: 2.1rem;
    line-height: 2.1rem;
    font-size: 1.1rem;
    border: none;  

}

.add-product__product-info input {
    width: calc(100% - 0.6rem);
    height: 1.7rem;
    padding:0.15rem 0.3rem;
    margin: 0;
    outline: none;
    border: none;
    font-family: sans-serif;
}

.add-product__product-info button {
    width: 67%;
    height: 2.1rem;
    font-size: 1rem;
    background-color:rgb(196, 151, 27);
    color: black;
    border: none;
    border-radius: 13px;
    margin: 1rem 0 0 0;
}

.add-product__product-info button:hover {
    background-color: white;
}