<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === 'shopIndex' ? 'active' : '' %>" href="/">Shop Index</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'addProduct' ? 'active' : '' %>" href="/admin/add-product">Add new product</a>
            </li>
        </ul>
    </nav>
</header>